<div class="container">
    <mat-toolbar>
        <span>Users</span>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef> USER </th>
          <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> SURNAME </th>
          <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef> SEX </th>
          <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>