<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="signin()"> <!-- METODO EN login.component.ts -->
            <img src="./assets/img/user.png" width="50%"  alt="user"> <!-- MEJOR USO RUTA ABSOLUTA -->
            <h1>Login</h1>
            <mat-form-field class="width-input" appearance="fill">
                <mat-label>User</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="user">
            </mat-form-field>
            <mat-form-field class="width-input" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" class="width-input button-login" mat-raised-button color="primary" [disabled]="form.invalid">Sign in</button>
        </form>
    </div>
  </div>