/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin-top: 0.313rem;
}